
  /*公用部分---版心*/
   body {
      font-family: 'Microsoft YaHei','微软雅黑';
   }
   
  .width {
      width:1000px;
  }
  
  /*公用---浮动排版*/
   .fr {
       float: right;

 }

 .fl {
      float: left;

 }

   ul,li{
      margin: 0;
	  list-style: none;

  }

   a {
      text-decoration: none;
   }

   ul,li {
      margin: 0;
	  padding: 0;
   }

   b {
     font-weight: normal;
   }
  /*公用头部---版心*/
  #head {
      width:980px;
      height:50px;
      margin:0 auto;
  }

  /* 头部 */
   #cyou_top {
     width: 100%;
	 height: 55px;
	 background: url(../img/sprites/nav_bg.png) no-repeat top center;
   }


  /*头部---logo部分*/
  .top_logo {
    width: auto;
    height: 36px;
    margin-top: 6px;
    padding-right: 13px;
    border-right: 1px solid #CECECE;

  }

  .top_logo a {
  	display: block;
  	width: 90px;
  	height: 36px;
    background-image: url(../img/logo/logo_white.png);
	background: transparent
    background-repeat: no-repeat;
    background-position: 0px -5px;
  }


/* 头部天龙logo */
  .cytop {
     width: 240px;
	 height: 50px;
	 padding-left: 30px;
  }

/* 顶部导航栏 */
 .h_nav > li {
    float: left;
	width: auto;

 }

 .h_nav_ser_reg,.h_nav_ser_rech,.h_nav_ser_jia {
    padding: 0 10px;
    height: 50px;
	line-height: 50px;
	text-align: center;

 }

 .h_nav_ser_reg_icon,.h_nav_ser_rech_icon,.h_nav_ser_jia_icon {
    display: block;
	float: left;
	width: 25px;
	height: 24px;
	margin: 14px 4px 0 0;
	background: url(../img/sprites/cyou_sprite.png) no-repeat;
 }

 .h_nav_ser_reg_icon {
    background-position: -138px 0px;
 }

 .h_nav_ser_rech_icon {
    background-position: -189px 0px;
 }

 .h_nav_ser_jia_icon {
    background-position: 0px -104px;
 }

 .h_nav a {
    color: #333;
	font-size: 12px;
	transition: all .3s;
 }  

 .h_nav a:hover {
    color: #f10;
 }

/* 畅游 tips */
 .h_nav > .h_nav_ser_tips {
    width: 112px;
	height: 50px;
	position: relative;
    border: 1px solid #e1e1e1;
	border-top: none;
	border-bottom: none;
	margin-left: -1px;
    color: #333;
	font-size: 12px;
 }



 #h_nav_ser_gm {
    width: 82px;

 }

 .h_nav_ser_tips b{ 
    padding-top: 2px;
    text-align: center;
	display: block;
	height: 48px;
	line-height: 48px;
	cursor: pointer;
}

 .h_nav_ser_tips b:hover {
    color: #a0a;
	background-color: #eee;
 }

 .h_nav_ser_tips > div span {
    position: relative;
	left: 90px;
	bottom: 28px;
    display: block;
    width: 8px;
	height: 5px;
    background: url(../img/sprites/cyou_sprite.png) no-repeat;
	background-position: -205px -147px;
   
 }
   
 #h_nav_ser_gm > div span {
    left: 58px;
	bottom: 28px;
 }


/* 主体部分 */
  body {
      background: url(../img/bgi/cover_bg.jpg) no-repeat center 55px;
  }
/* 头部中段 */
  #header_middle {
     position: relative;
     margin: 0 auto;
     width: 1000px;
	 height: 541px;
	 background: url(../img/bgi/cover_header.jpg) no-repeat center top;
  }
/* 活动区 */
  #header_middle > .activtiy {
     position: absolute;
  }

 /* game logo */
  .game_logo {
     position: absolute;
	 top: 16px;
	 left: 0px;
     width: 200px;
	 height: 110px;
	 background: url(../img/logo/ffo_logo.png) no-repeat;
  }

  .game_logo a {
     display: block;
	 width: 200px;
	 height: 110px;
  }

  /* 主页链接 */
  .main_link {
     position: absolute;
	 left: 195px;
	 bottom: 182px;
     width: 160px;
	 height: 45px;
     background: url(../img/sprites/cover_sprite.jpg) no-repeat -5px -10px;
    
  }

  .main_link a {
     display: block;
	 width: 160px;
	 height: 45px;
  }

  .main_link:hover {
     background: url(../img/sprites/cover_sprite.jpg) no-repeat -5px -110px;
  }


  .index_btn01,.index_btn02,.index_btn03 {
     position: absolute;
     width: 183px;
	 height: 88px;
	 background: url(../img/sprites/cover_sprite.jpg) no-repeat; 
  }

  .index_btn01 {
     background-position: 0px -200px;
	 left: 73px;
	 bottom: 59px;
  }

  .index_btn01 a {
     display: block;
	 width: 183px;
	 height: 88px;
  }

  .index_btn02 {
     background-position: 0px -300px;
	 left: 268px;
	 bottom: 80px;
  }

  .index_btn02 a {
     display: block;
	 width: 183px;
	 height: 88px;
  }

  .index_btn03 {
     background-position: 0px -400px;
	 left: 0px;
	 bottom: 0px;
  }

  .index_btn03 a {
     display: block;
	 width: 183px;
	 height: 88px;
  }